---
---

.bio {
  flex-wrap: wrap;
  margin: 20px;
  max-width: 100%;
  height: min-content;
  text-align: justify;
  overflow-wrap: break-word;
  z-index: 0;
}

.bio-heading {

  font-family: var(--heading);
  font-weight: var(--bold);
  text-align: justify;
  font-size: var(--large);
  padding: 20px, 0px;
  border-bottom: solid 1px var(--light-gray);

}


.bio-info {
  
  font-family: var(--heading);
  line-height: var(--compact);
  text-align: justify;
  font-weight: var(--bold);

}

.bio-info-etc {
  
  font-family: var(--heading);
  line-height: var(--compact);
  text-align: justify;
  font-weight: var(--regular);

}