---
---

.contact-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 20px;
}

.map {
    flex: 1 1 400px; /* Allows map to take up available space, but not shrink below 400px */
    margin-right: 20px;
}

.contact-info {
    flex: 1 1 300px; /* Allows contact info to take up available space, but not shrink below 300px */
}

@media (max-width: 800px) {
    .contact-container {
        flex-direction: column; /* Stack items vertically on small screens */
        align-items: center;

    }

    .map {
        margin-right: 0;
        margin-bottom: 20px; /* Space between stacked elements */
    }
    .contact-info {
        max-width: 100%; /* Ensure contact info can grow with the container */
        text-align: center; /* Center text alignment */
    }
}