$logo-big: 80px;
$logo: 50px;
$big-padding: 100px;
$collapse: 800px;
$sticky: true;

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0px;
  padding: 20px;
  box-shadow: var(--shadow);
  vertical-align: middle;
  height: $logo-big; /* Maintain consistent height */

  @if $sticky {
    position: sticky !important;
    top: 0;
    z-index: 10 !important;
  }
}

header a {
  color: var(--text);
  text-decoration: none;
}

.background {
  position: relative;
  background: var(--header_colour);
  color: var(--text);
  z-index: 1;
  align-items: center;
}

.home {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  white-space: nowrap;
}

.logo {
  height: $logo-big;
  align-items: center;
  vertical-align: middle;
}

.logo > * {
  height: 100%;
  align-items: center;
}

.title-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  min-width: 0;
  font-family: var(--title);
  text-align: left;
  vertical-align: middle;
}

.title {
  font-size: var(--xl);
}

.subtitle {
  opacity: 0.65;
  font-weight: var(--thin);
}

/* Hamburger Toggle */
.hamburger {
  display: none;
  cursor: pointer;
  font-size: var(--xl); /* Match text size */
  color: var(--text);
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  transition: transform var(--transition);
  z-index: 11;
}

.hamburger .icon {
  display: block;
  width: 30px;
  height: 3px;
  margin: 6px auto;
  background-color: var(--text);
  transition: all 0.3s ease-in-out;
}

.hamburger.active .icon {
  background-color: var(--hover);
}

.hamburger.active .icon:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.hamburger.active .icon:nth-child(2) {
  opacity: 0;
}

.hamburger.active .icon:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  font-family: var(--heading);
  text-transform: uppercase;
}

nav > a:hover {
  color: var(--hover);
}

.active {
  color: var(--hover);
  border-bottom: 3px solid var(--hover);
}

/* Responsive behavior */
@media (max-width: $collapse) {
  .hamburger {
    display: block;
  }

  .nav {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--header_colour); /* Background color for dropdown */
  }

  .nav.show {
    display: flex;
  }

  nav > a {
    display: block;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid var(--hover);
  }

  header {
    height: $logo-big; /* Keep the header height the same */
  }

  .home {
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .logo {
    height: $logo-big;
    align-items: center;
    vertical-align: middle;
  }
}