$logo-big: 80px;
$logo: 50px;
$collapse: 800px;
$sticky: true;

header {
  display: flex;
  justify-content: space-between; /* Adjust this for centering the content */
  align-items: center;
  padding: 20px;
  box-shadow: var(--shadow);
  vertical-align: middle;

  @if $sticky {
    position: sticky;
    top: 0;
    z-index: 10;
  }
}

header a {
  color: var(--text);
  text-decoration: none;
}

.background {
  background: var(--header_colour);
  color: var(--text);
}

.home {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-grow: 1;
  max-width: 100%;
  white-space: nowrap;
}

.logo {
  height: $logo-big; /* Control logo size */
  vertical-align: middle;
}

.logo > * {
  height: 100%;
}

.title-text {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  font-family: var(--title);
  text-align: left;
}

.title {
  font-size: var(--xl);
}

.subtitle {
  opacity: 0.65;
  font-weight: var(--thin);
}

/* Hide checkbox */
#nav-toggle {
  display: none;
}

/* Hamburger Menu */
.hamburger {
  display: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: relative;
}

.hamburger:before, .hamburger:after {
  content: '';
  position: absolute;
  left: 50%;
  width: 30px;
  height: 3px;
  background-color: var(--text);
  transition: all 0.3s ease-in-out;
}

.hamburger:before {
  top: 12px;
  transform: translateX(-50%);
}

.hamburger:after {
  bottom: 12px;
  transform: translateX(-50%);
}

#nav-toggle:checked + .hamburger:before {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

#nav-toggle:checked + .hamburger:after {
  top: 50%;
  bottom: auto;
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* Navigation */
.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  font-family: var(--heading);
  text-transform: uppercase;
}

nav a:hover {
  color: var(--hover);
}

.active {
  color: var(--hover);
  border-bottom: 3px solid var(--hover);
}

/* Responsive behavior */
@media (max-width: $collapse) {
  .hamburger {
    display: block;
  }

  .nav {
    display: none;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    background-color: var(--header_colour);
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 9;
    padding: 10px 0;
  }

  #nav-toggle:checked ~ .nav {
    display: flex;
  }

  .nav a {
    padding: 10px 20px;
    width: 100%;
    text-align: left;
  }
}
