---
---

ul,
ol {
  margin: 5px 0;
  padding-left: 40px;
  padding-right: 40px;
}

ul {
  list-style-type: disc;
}

li {
  margin: 5px 0;
  padding-left: 10px;
  padding-right: 40px;
  text-align: justify;
  line-height: var(--spacing);

  ul,
  ol {
    margin: 0;
  }
}

.contact-list {
 line-height: var(--compact)
}

.backward-list {
  list-style-type: none;
  counter-reset: list-counter;
  margin: 5px 0;
  padding-left: 10px;
  padding-right: 40px;
  text-align: justify;
  line-height: var(--spacing);
  
}

.backward-list li {
  counter-increment: list-counter;
}

.backward-list li::before {
  content: counter(list-counter) ". ";
}