---
---

p {
  margin: 0px 0;
  text-align: justify;
  line-height: var(--spacing);
}

p.main {
  margin: 5px 0;
  text-align: justify;
  line-height: var(--spacing);
}

p.bio-header {

  margin: 5px 0;
  text-align: start;
  line-height: var(--spacing);
}