---
---

p {
  margin: 0px 0;
  text-align: justify;
  line-height: var(--spacing);
}

p.main {
  margin: 5px 0;
  text-align: justify;
  line-height: var(--spacing);
}


p.papers {

  margin: 5px 0;
  text-align: center;
  line-height: var(--spacing);
  font-family: var(--heading);

  font-weight: var(--semi-bold);

  padding: 10px 40px 20px 10px;

}