---
---

p {
  margin: 0px 0;
  text-align: justify;
  line-height: var(--spacing);
}

p.main {
  margin: 5px 0;
  text-align: justify;
  line-height: var(--spacing);
}


p.papers {

  text-align: center;
  line-height: var(--spacing);
  font-family: var(--heading);

  font-weight: var(--semi-bold);
  padding-top: 25px;

}

p.main {
  text-align: justify;
  line-height: var(--compact);
}