<figure class="figure">
  <a
    {% if include.link %}
      href="{{ include.link | relative_url }}"
    {% endif %}
    class="figure-image"
  >
    {% if include.image contains ".webm" or include.image contains ".mp4" %}
      <!-- It's a video file -->
      <video src="{{ include.image | relative_url }}" style="width: {{ include.width | default: '100%' }};" autoplay loop muted playsinline></video>
    {% else %}
      <!-- It's a standard image (jpg, png, webp) -->
      <img src="{{ include.image | relative_url }}" style="width: {{ include.width | default: 'auto' }};" alt="{{ include.caption }}" loading="lazy">
    {% endif %}
  </a>
  
  {% if include.caption %}
    <figcaption class="figure-caption">{{ include.caption | markdownify }}</figcaption>
  {% endif %}
</figure>