{% assign image = page.footer | default: site.footer | relative_url %}
{% assign dark = page.footer-dark | is_nil: site.footer-dark | is_nil: true %}

<footer
  class="background"
  style="--image: url('{{ image }}')"
  {% if dark == true or dark == false %}
    data-dark="{{ dark }}"
  {% endif %}
  data-size="wide"
>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

<!-- Include the SwiperJS Script -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="{{ '/js/carousel.js' | relative_url }}"></script>


<input
type="checkbox"
class="dark-toggle"
data-tooltip="Dark mode"
aria-label="toggle dark mode"
oninput="onDarkToggleChange(event)"
>


<!--
<div>
  {% for link in site.links %}
    {% assign key = link[0] %}
    {% assign value = link[1] %}
    {% include button.html type=key text="" link=value style="bare" %}
  {% endfor %}
</div>
-->

<div>
  {%
    include figure.html
    image= "images/korea_university_sejong_campus_logo.png"
    link="https://sejong.korea.ac.kr/mbshome/mbs/eng/index.do"
    width="300px"
  %}
    MetAI Lab |
    Department of Electronics and Information Engineering |
    trevon@korea.ac.kr  <br />

    [30019] Korea University Sejong Campus 2511 Sejong-ro, Sejong-si, Republic of Korea 
</div>

</footer>
