{% if include.lookup %}
  {% assign team = site.team 
    | where_exp: "team", "team.slug == include.lookup"
    | first
  %}
{% else %}
  {% assign team = include %}
{% endif %}


<div class="portrait-wrapper">
  <a
    {% if page.slug != team.slug %}
      href="{{ team.url | relative_url }}"
    {% endif %}
    class="portrait"
    data-style="{{ include.style }}"
    aria-label="{{ team.name | default: "team link" }}"
  >


    <img
      src="{{ team.image | relative_url }}"
      class="portrait-image"
      alt="team portrait"
      loading="lazy"
      {% include fallback.html %}
    >

    <span class="portrait-name">
    {{ team.name }}
    </span>

    <span class="portrait-details">
    {{ team.current[0].position }}
      <br/>
    {{ team.current[0].department }}
    </span>


  </a>
</div>
