{% if include.lookup %}
  {% assign talks = site.data.talks
    | where_exp: "talks",
      "talks.id == include.lookup or talks.title contains talks.lookup"
    | first
  %}
{% else %}
  {% assign talks = include %}
{% endif %}

<ul>
  <li class="bio-info-etc"> 
    <a href="{{ talks.website }}">{{ talks.name }}</a>, 
    {{ talks.location }}, {{ talks.date | date: "%b %Y" }} 
    
    {% if talks.etc %} 
      [{{ talks.etc }}] 
    {% endif %} 

    <!-- New Logic: Display Presenter Name if it exists and isn't the PI -->
    {% if talks.presenter and talks.presenter != "Trevon Badloe" %}
       <br>
       <span style="font-size: 0.9em; font-style: italic; color: #666;">
         Presenter: {{ talks.presenter }}
       </span>
    {% endif %}
  
  </li>
</ul>