---
layout: default
show_map: true
---

<div id="map" style="height: 500px; width: 100%;"></div>

{% if include.lookup %}
  {% assign talks = site.data.talks
    | where_exp: "talks",
      "talks.id == include.lookup or talks.title contains talks.lookup"
    | first
  %}
{% else %}
  {% assign talks = include %}
{% endif %}







<ul>
  <li class = "bio-info-etc"> {{ talks.name }}, {{ talks.location }}, {{ talks.date | date: "%b %Y" }} {% if talks.etc %} [{{ talks.etc }}] {% endif %} </li>
</ul>


