---
layout: default
---

{% include section.html %}

{% capture floatcontent %}

{% include portrait.html lookup=page.slug %}

<div style="text-align:center;">
  {% for link in page.links %}
    {% if link[1] %}
      {% assign key = link[0] %}
      {% assign value = link[1] %}
      {% include button.html type=key link=value style="bare" %}<br>
    {% endif %}
  {% endfor %}
</div>

{% endcapture %}

{% include float.html content=floatcontent %}

<!-- =========================
     BIO & POSITIONS
     ========================= -->

{% if page.bio %}
  BIO
  <div class = "bio" > {{ page.bio }} </div>
{% endif %}

<!-- ACADEMIC APPOINTMENTS (PI) -->
{% if page.role ==  "pi" %}
  <div class = "bio-heading"> Academic Appointments </div>
  {% for current in page.current %}
    <ul> 
      <li> <div class = "bio-info"> <a href="{{ current.link }}">{{ current.department }}</a>, {{ current.school }}</div></li>
    <div class = "bio-info-etc" > {{ current.position }} ({{ current.date }})</div></ul>
  {% endfor %}
{% endif %}

<!-- CURRENT POSITION (Student/Postdoc) -->
{% if page.role !=  "pi" %}
  <div class = "bio-heading"> Current Position </div>
  {% for current in page.current %}
    <ul> 
      <li> <div class = "bio-info"> <a href="{{ current.link }}">{{ current.department }}</a>, {{ current.school }}</div></li>
    <div class = "bio-info-etc" >{{ current.position }} ({{ current.date }})</div></ul>
  {% endfor %}
{% endif %}

<!-- EXPERIENCE -->
{% if page.experience[0].position %}
  {% include section.html %}

  <div class = "bio-heading"> Experience </div>
  {% for experience in page.experience %}
  <ul> 
    <li> <div class = "bio-info"> <a href="{{ experience.link }}">{{ experience.department }}</a>, {{ experience.school }}
      <span class = "bio-info-etc"> ({{ experience.date }})</span></li>
  <div class = "bio-info-etc" >{{ experience.position }} {% if experience.etc %} [{{ experience.etc }}] {% endif %}
    <br class= "bio-info-etc"> Advisor: {{ experience.advisor}}</div>
  </div></ul>
  {% endfor %}  
{% endif %}


<!-- =========================
     EDUCATION
     ========================= -->
<!-- Displays section if any degree information exists, regardless of role -->
{% if page.phd[0].degree or page.master[0].degree or page.bachelor[0].degree %}
  {% include section.html %}

  <div class = "bio-heading"> Education </div>

  {% if page.phd[0].degree %}
      {% for phd in page.phd %}
        <ul> 
          <li> <div class = "bio-info"> {{ phd.degree }} <a href="{{ phd.link }}">{{ phd.department }}</a>, {{ phd.school }}</li>
        <span class = "bio-info-etc" > {% if phd.etc %} [ {{ phd.etc }} ] {% endif %}({{ phd.date }})</span>
          <div class= "bio-info-etc"> Advisor: <a href="{{ phd.advisor-site }}">{{ phd.advisor }}</a></div>
          <div class= "bio-info-etc"> Dissertation title: {{ phd.dissertation}}</div>
        </div></ul>
      {% endfor %}
    {% endif %}

  {% if page.master[0].degree %}
    {% for master in page.master %}
      <ul> 
        <li> <div class = "bio-info"> {{ master.degree }} <a href="{{ master.link }}">{{ master.department }}</a>, {{ master.school }}
          <span class = "bio-info-etc" >{% if master.etc %} [ {{ master.etc }} ] {% endif %} ({{ master.date }})</span>
        </div></li>
      {% if master.etc %} [ {{ master.etc }} ] {% endif %}
      </div></ul>
    {% endfor %}
  {% endif %}

  {% if page.bachelor[0].degree %}
    {% for bachelor in page.bachelor %}
    <ul> 
      <li> <div class = "bio-info"> {{ bachelor.degree }}  <a href="{{ bachelor.link }}">{{ bachelor.department }}</a>, {{ bachelor.school }}</li>
    <span class = "bio-info-etc" > {% if bachelor.etc %} [ {{ bachelor.etc }} ] {% endif %}({{ bachelor.date }})</span>
    </div></ul>
    {% endfor %}
  {% endif %}

{% endif %}


<!-- =========================
     FILTERING VARIABLES
     ========================= -->
<!-- 
  search_name: The name to look for in data files. Uses 'pub_name' if defined, else 'name'. 
  pi_name: The hardcoded PI name to use as a default for missing fields.
-->
{% assign search_name = page.pub_name | default: page.name %}
{% assign pi_name = "Trevon Badloe" %}
{% assign is_pi = false %}
{% if page.role == "pi" %}
  {% assign is_pi = true %}
{% endif %}


<!-- =========================
     PUBLICATIONS
     ========================= -->
{% include section.html %}
{% assign sorted_pubs = site.data.citations | sort: 'date' %}
{% assign pub_count = 0 %}

<!-- Count Publications First -->
{% for pub in sorted_pubs %}
  {% assign show_pub = false %}
  
  {% if is_pi %}
    <!-- PI usually wants to show all lab publications -->
    {% assign show_pub = true %}
  {% else %}
    <!-- For students: check if ANY author string contains their name (handles asterisks) -->
    {% for author in pub.authors %}
      {% if author contains search_name %}
        {% assign show_pub = true %}
      {% endif %}
    {% endfor %}
  {% endif %}
  
  {% if show_pub %}{% assign pub_count = pub_count | plus: 1 %}{% endif %}
{% endfor %}

{% if pub_count > 0 %}
  <div class="bio-heading">Publications</div>
  <ol reversed>
    {% for pub in sorted_pubs reversed %}
      
      <!-- Determine visibility again -->
      {% assign show_pub = false %}
      {% if is_pi %}
        {% assign show_pub = true %}
      {% else %}
        {% for author in pub.authors %}
          {% if author contains search_name %}
            {% assign show_pub = true %}
          {% endif %}
        {% endfor %}
      {% endif %}

      {% if show_pub %}
      <li>
        <div class="bio-info-etc">
          <a href="{{ pub.link }}">{{ pub.title }}</a>,
          
          {% for author in pub.authors %}
            {% assign formatted_author = author %}
            <!-- Highlight current user's name -->
            {% if author contains search_name or (is_pi and author contains "Trevon") %}
              {% assign formatted_author = "<strong>" | append: formatted_author | append: "</strong>" %}
            {% endif %}
            {{ formatted_author }}{% if forloop.last == false %}, {% endif %}
          {% endfor %},
          
          <strong>{{ pub.publisher }}</strong>,
          {{ pub.id }}.
        </div>
      </li>
      {% endif %}
    {% endfor %}
  </ol>
{% endif %}


<!-- =========================
     TALKS & PRESENTATIONS
     ========================= -->
{% include section.html %}
{% assign sorted_talks = site.data.talks | sort: 'date' %}
{% assign talk_count = 0 %}

<!-- Count Talks -->
{% for talk in sorted_talks %}
  {% assign show_talk = false %}
  
  <!-- Default to PI if presenter is missing -->
  {% assign talk_presenter = talk.presenter | default: pi_name %}
  
  {% if talk_presenter contains search_name %}
    {% assign show_talk = true %}
  {% endif %}
  
  {% if show_talk %}{% assign talk_count = talk_count | plus: 1 %}{% endif %}
{% endfor %}

{% if talk_count > 0 %}
  <div class="bio-heading">Talks & Presentations</div>
  
  <ol reversed>
    {% for talk in sorted_talks reversed %}
      {% assign show_talk = false %}
      {% assign talk_presenter = talk.presenter | default: pi_name %}
      
      {% if talk_presenter contains search_name %}
        {% assign show_talk = true %}
      {% endif %}

      {% if show_talk %}
      <li class="bio-info-etc">
        <span class="bio-info-etc"><a href="{{ talk.website }}">{{ talk.name }}</a>,</span>
        {{ talk.location }} ({{ talk.date | date: "%b %Y" }})
        {% if talk.etc %} [{{ talk.etc }}] {% endif %}
      </li>
      {% endif %}
    {% endfor %}
  </ol>
{% endif %}


<!-- =========================
     AWARDS
     ========================= -->
{% include section.html %}
{% assign sorted_awards = site.data.awards | sort: 'date' %}
{% assign award_count = 0 %}

<!-- Count Awards -->
{% for award in sorted_awards %}
  {% assign show_award = false %}
  
  <!-- Default to PI if recipient is missing -->
  {% assign recipient = award.recipient | default: pi_name %}
  
  {% if recipient contains search_name %}
    {% assign show_award = true %}
  {% endif %}
  
  {% if show_award %}{% assign award_count = award_count | plus: 1 %}{% endif %}
{% endfor %}

{% if award_count > 0 %}
  <div class="bio-heading">Awards</div>
  
  <ol reversed>
    {% for award in sorted_awards reversed %}
      {% assign show_award = false %}
      {% assign recipient = award.recipient | default: pi_name %}
      
      {% if recipient contains search_name %}
        {% assign show_award = true %}
      {% endif %}

      {% if show_award %}
      <li class="bio-info-etc">
        <span class="bio-info">{{ award.name }},</span>
        {{ award.awarder }} ({{ award.date | date: "%b %Y" }})
      </li>
      {% endif %}
    {% endfor %}
  </ol>
{% endif %}


<!-- =========================
     SERVICE (PI ONLY)
     ========================= -->
{% if page.role == "pi" %}

  {% include section.html %}
  
  <!-- Display Service Roles -->
  {% assign services = site.data.service %}
  
  <div class="bio-heading">Service</div>

  <ul>
    {% for service in services %}
    <li class="bio-info">
      {{ service.role }}
      {% if service.journals %}
        <span class="bio-info-etc">{{ service.journals | join: ", " }}</span>
      {% endif %}
    </li>
    {% endfor %}
  </ul>

{% endif %}