---
layout: default
---

{% include section.html %}

{% capture floatcontent %}

{% include portrait.html lookup=page.slug %}

<div style="text-align:center;">
  {% for link in page.links %}
    {% if link[1] %}

      {% assign key = link[0] %}
      {% assign value = link[1] %}
      {% include button.html type=key link=value style="bare" %}<br>
    {% endif %}
  {% endfor %}
</div>

{% endcapture %}

{% include float.html content=floatcontent %}

{% if page.bio %}
  BIO
  <div class = "bio" > {{ page.bio }} </div>
{% endif %}

{% if page.role ==  "pi" %}
  <div class = "bio-heading"> Academic Appointments </div>
  {% for current in page.current %}
    <ul> 
      <li> <div class = "bio-info"> <a href="{{ current.link }}">{{ current.department }}</a>, {{ current.school }}</div></li>
    <div class = "bio-info-etc" >{{ current.position }} ({{ current.date }})</div></ul>
  {% endfor %}
{% endif %}

{% if page.experience.size > 0 %}
  <div class = "bio-heading"> Experience </div>
  {% for experience in page.experience %}
  <ul> 
    <li> <div class = "bio-info"> <a href="{{ experience.link }}">{{ experience.department }}</a>, {{ experience.school }}</div></li>
  <div class = "bio-info-etc" >{{ experience.position }} {% if experience.etc %} [{{ experience.etc }}] {% endif %}({{ experience.date }})
    <br class= "bio-info-etc"> Advisor: {{ experience.advisor}}
  </div></ul>
  {% endfor %}  
{% endif %}


<div class = "bio-heading"> Education </div>

{{ page.phd.degree }}


{% if page.phd.degree %}
  {% for phd in page.phd %}
    <ul> 
      <li> <div class = "bio-info"> {{ phd.degree }} <a href="{{ phd.link }}">{{ phd.department }}</a>, {{ phd.school }}</div></li>
    <div class = "bio-info-etc" >{{ phd.position }} {% if phd.etc %} [ {{ phd.etc }} ] {% endif %}({{ phd.date }})
      <br class= "bio-info-etc"> Advisor: {{ phd.advisor}} 
      <br class= "bio-info-etc"> Dissertation title: {{ phd.dissertation}}
    </div></ul>
  {% endfor %}
{% endif %}


{% if page.master.degree %}
  {% for master in page.master %}

    <ul> 
      <li> <div class = "bio-info"> {{ master.degree }} <a href="{{ master.link }}">{{ master.department }}</a>, {{ master.school }}
        <div class = "bio-info-etc" > ({{ master.date }})</div>
      </div></li>
    {% if master.etc %} [ {{ master.etc }} ] {% endif %}
    </div></ul>
  {% endfor %}
{% endif %}

{% if page.bachelor.degree %}
  {% for bachelor in page.bachelor %}
  <ul> 
    <li> <div class = "bio-info"> {{ bachelor.degree }}  <a href="{{ bachelor.link }}">{{ bachelor.department }}</a>, {{ bachelor.school }}</div></li>
  <div class = "bio-info-etc" >{{ bachelor.position }} {% if bachelor.etc %} [ {{ bachelor.etc }} ] {% endif %}({{ bachelor.date }})
  </div></ul>
  {% endfor %}
{% endif %}


{% if page.role ==  "pi" %}
  <div class = "bio-heading"> Talks </div>
  {% for talk in site.data.talks %}
    <ul> 
      <li> <div class = "bio-info"> {{ talk.venue }} ({{ talk.date }}) {% if talk.etc %} [ {{ talk.etc }} ] {% endif %} </div></li>
  {% endfor %}
{% endif %}


{% assign aliases = page.aliases
  | default: page.name
  | default: page.title
  | join: ","
  | split: ","
  | array_filter
%}

{% capture search -%}
  publications/?search={% for alias in aliases %}"{{ alias }}" {% endfor %}
{%- endcapture %}

<p class="center">
  <a href="{{ search | relative_url }}">
    See {{ page.name | default: page.title }}'s papers on the Publications page
  </a>
</p>

<!--

{% capture search -%}
  news/?search={{ page.name }}
{%- endcapture %}

<p class="center">
  <a href="{{ search | relative_url }}">
    See {{ page.name | default: page.title }}'s posts on the news page
  </a>
</p>
-->
